body {
  background-color: rgb(204, 200, 200);
  position: relative;
  margin: 0;
  height: 100%;
}

/* Nav and Footer*/
.nav {
  background-color: rgb(11, 11, 35);
  width: 100%;
}
.topnav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(11, 11, 35);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
}
.topnav a {
  margin-right: 10px;
}
.topnav a:hover {
  background-color: rgb(54, 54, 88);
  border-radius: 5px;
  color: aliceblue;
}
.nav,
footer {
  background: rgb(11, 11, 35);
}
footer h3 {
  text-align: center;
  margin: 0;
}
header a,
footer h3 {
  text-decoration: none;
  color: rgb(112, 112, 123);
  font-size: 20px;
  padding: 9px;
}

@media (max-width: 675px) {
  .nav {
    width: 100%;
    height: fit-content;
  }
  .topnav {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    height: fit-content;
  }
  .topnav a {
    font-size: 1.2rem;
  }
}

/* Home Page -left*/

.home section {
  height: 100%;
  width: fit-content;
  display: flex;
}
.left-info {
  margin-top: 40%;
  margin: 0;
  width: 30%;
  background-color: rgb(24, 24, 54);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  color: whitesmoke;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.left-info img {
  margin: 40px 70px;
  margin-top: 30%;
  height: 200px;
  border-radius: 50%;
}
.left-info a {
  text-decoration: none;
  margin-right: 9px;
  color: whitesmoke;
  font-size: 16px;
}
.left-info a:hover {
  color: rgb(100, 94, 94);
  font-size: 20px;
}
@media (max-width: 765px) {
  .left-info {
    width: 100%;
    font-size: 1.5em;
  }
  .left-info img {
    margin-top: 80%;
  }
}
/* Home Body right*/
.right-info {
  margin: 0;
  width: 70%;
}
.right-info h2 {
  margin: 10% 0;
}
.right-info img {
  margin: 7% 20px;
  height: 200px;
  border-radius: 3px;
}
.right-info .content {
  border-radius: 5px;
  margin: 8% 20px;
  font-size: 0.7em;
  display: flex;
  color: rgb(11, 11, 35);
}
.content h1 {
  margin-top: 6%;
  font-size: 20px;
}

@media (max-width: 765px) {
  .home section {
    text-align: center;
    flex-direction: column;
    height: max-content;
  }
  .right-info {
    width: 100%;
    font-size: 1em;
  }
  .contact h1 {
    font-size: 0.2em;
    height: fit-content;
  }
  .right-info .content {
    flex-direction: column;
  }
}
/* code */

center {
  align-items: center;
}
section .code {
  height: 100vh;
}
.card-groups {
  width: fit-content;
  display: flex;
}
.card {
  background-color: rgb(24, 24, 54);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 20px;
  margin: 10% 30px;
  border-radius: 5px;
}
.card img {
  border-radius: 4px;
  width: 350px;
  height: 200px;
  margin-bottom: 0%;
}
.code h1 {
  margin-top: 4%;
  color: rgb(24, 24, 54);
  font-size: 30px;
  text-align: center;
}
.card p {
  color: rgb(24, 24, 54);
  font-size: 30px;
}

@media (max-width: 765px) {
  .card-groups {
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  .card img {
    width: 20em;
    margin: 0;
  }
  .card {
    width: 100%;
    padding: 1% 0;
    align-content: center;
    margin: 10% 0;
  }
  .code h1 {
    margin-top: 65%;
  }
}
/* ux design */

.uxDesign h3 {
  color: rgb(24, 24, 54);
  font-size: 20px;
  text-align: center;
}
.iframe {
  margin: 1% 0;
  margin-bottom: 4%;
}
.ux {
  font-size: 50px;
  text-align: center;
  margin-top: 3%;
  color: rgb(24, 24, 54);
}
@media (max-width: 765px) {
  .uxDesign {
    margin-top: 50%;
  }
  .iframe {
    margin: 15% 0;
    width: 100%;
  }
}

/* contac me */

input,
textarea {
  opacity: 60%;
  color: rgb(24, 24, 54);
  font-size: 20px;
  height: 2em;
  width: 30em;
}
textarea {
  height: 20rem;
}
form {
  margin-top: 4%;
  margin-left: 10%;
}
.message h2 {
  color: rgb(24, 24, 54);
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
}
button {
  color: whitesmoke;
  margin-left: 10%;
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-image: linear-gradient(130deg, #21239c, #3a71c8 40%, #bbc2ed);
  border: none;
  border-radius: 4px;
}

button:hover {
  background-image: linear-gradient(130deg, #3134de, #4c7ecd 40%, #e3e5ef);
}

h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: rgb(24, 24, 54);
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: #565659;
  font-family: "unicons";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  width: 800px;
  max-width: 100%;
  height: 36rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 10%;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 54);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: fixed;
  width: fit-content;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
h6.options {
  padding-top: 40px;
  margin-top: 4%;
  text-align: center;
  font-size: 12px;
}
.section.pb-5.pt-5.pt-sm-2.text-center {
  width: fit-content;
}
.backcard-content {
  margin-left: 30%;
  font-size: 30px;
  width: fit-content;
  color: aliceblue;
}

.backcard-content a {
  text-decoration: none;
  color: aliceblue;
}
.backcard-content a:hover {
  color: #4c7ecd;
  font-size: 40px;
}
.small-form {
  display: none;
}
@media (max-width: 765px) {
  .section.pb-5.pt-5.pt-sm-2.text-center {
    display: none;
  }
  .small-form {
    background-color: rgb(24, 24, 54);
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    display: block;
  }
  .space {
    margin-top: 13rem;
  }
  form {
    width: 80%;
  }
  h6 {
    color: white;
    font-size: 30px;
  }
  input,
  textarea {
    border-radius: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
